- var page = "forget-pasword";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/menu-mobile.jade
        include jades/header.jade

        main.goong-wrapper
            section.goong-login
                .container
                    .form-sign.form-sign_forget
                        .form-sign__img
                            img(src='images/map-login.png')
                        .form-sign__content
                            h2.form-sign__title Forget password?
                            .form-sign__form
                                .form-group
                                    label Nhập địa chỉ Email đã đăng ký tài khoản Goong, hệ thống sẽ gửi thông tin hướng dẫn bạn khôi phục lại mật khẩu.
                                    input.form-control(type='text' placeholder='Email')
                                .form-group
                                    .form-sign__btn
                                        .d-block
                                            button.btn.btn-gradient(type='button' data-id='box-1') Send
                    .form-sign.form-sign_forget
                        .form-sign__img
                            img(src='images/map-login.png')
                        .form-sign__content
                            h2.form-sign__title Forget password?
                            .form-sign__form
                                .form-group
                                    input.form-control(type='text' placeholder='nttuan001@gmail.com' disabled='disabled')
                                .form-group
                                    input.form-control(type='password' placeholder='Nhập mật khẩu mới')
                                .form-group
                                    input.form-control(type='password' placeholder='Xác nhận mật khẩu mới')
                                .form-group
                                    .form-sign__btn
                                        .d-block
                                            button.btn.btn-gradient(type='button' data-id='box-1') Update
        include jades/footer.jade
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.goong-navbar__toggle').click(function () {
                $('body').addClass('open-menu-mobile');
            });

            $('.menu-mobile__backdrop').click(function () {
                $('body').removeClass('open-menu-mobile');
            });



