- var page = "goong-price";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/menu-mobile-login.jade
        include jades/header.jade

        main.goong-wrapper
            section.goong-price
                .container
                    .goong-price__title
                        h2 Full Pricing Table
                    .goong-price__table
                        .table-responsive
                            table.table.table-bordered
                                thead
                                    tr
                                        th Services
                                        th
                                            .d-flex
                                                p.p1 GOONG
                                                P.P2 Google
                                        th
                                            .d-flex
                                                p.p1 GOONG
                                                P.p2 Google
                                        th
                                            .d-flex
                                                p.p1 GOONG
                                                P.p2 Google
                                        th
                                            .d-flex
                                                p.p1 GOONG
                                                P.p2 Google
                                tbody
                                    tr
                                        td Map loads
                                        td
                                            p.text-center < 100k
                                        td
                                            p.text-center 100k - 200k
                                        td
                                            p.text-center 200k - 500k
                                        td
                                            p.text-center > 500k
                                    tr
                                        td Native
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                    tr
                                        td Javascript
                                        td
                                            .d-flex
                                                p.p1 $3.00/k
                                                P.p2 $7.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.75/k
                                                P.p2 $5.60/k
                                        td
                                            .d-flex
                                                p.p1 $2.50/k
                                                P.p2 $5.60/k
                                        td
                                            p.text-center Volume pricing
                                    tr
                                        td APIs
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                        td
                                            .d-flex
                                                p.p1 &nbsp;
                                                P.p2 &nbsp;
                                    tr
                                        td Directions
                                        td
                                            .d-flex
                                                p.p1 $2.50/k
                                                P.p2 $5.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.20/k
                                                P.p2 $4.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.00/k
                                                P.p2 $4.00/k
                                        td
                                            p.text-center Volume pricing
                                    tr
                                        td Autocomplete
                                        td
                                            .d-flex
                                                p.p1 $1.20/k
                                                P.p2 $2.83/k
                                        td
                                            .d-flex
                                                p.p1 $1.10/k
                                                P.p2 $2.27/k
                                        td
                                            .d-flex
                                                p.p1 $1.00/k
                                                P.p2 $2.27/k
                                        td
                                            p.text-center Volume pricing
                                    tr
                                        td SingleSearch + PlaceDetail
                                        td
                                            .d-flex
                                                p.p1 $3.00/k
                                                P.p2 $17.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.75/k
                                                P.p2 $13.60/k
                                        td
                                            .d-flex
                                                p.p1 $2.50/k
                                                P.p2 $13.60/k
                                        td
                                            p.text-center Volume pricing
                                    tr
                                        td ACSession + PlaceDetail
                                        td
                                            .d-flex
                                                p.p1 $6.00/k
                                                P.p2 $17.00/k
                                        td
                                            .d-flex
                                                p.p1 $5.50/k
                                                P.p2 $13.60/k
                                        td
                                            .d-flex
                                                p.p1 $5.00/k
                                                P.p2 $13.60/k
                                        td
                                            p.text-center Volume pricing
                                    tr
                                        td PlaceDetail
                                        td
                                            .d-flex
                                                p.p1 $3.00/k
                                                P.p2 $17.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.75/k
                                                P.p2 $13.60/k
                                        td
                                            .d-flex
                                                p.p1 $2.50/k
                                                P.p2 $13.60/k
                                        td
                                            p.text-center Volume pricing
                                    tr
                                        td Geocoding
                                        td
                                            .d-flex
                                                p.p1 $2.30/k
                                                P.p2 $5.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.15/k
                                                P.p2 $4.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.00/k
                                                P.p2 $4.00/k
                                        td
                                            p.text-center Volume pricing
                                    tr
                                        td Distance Matrix
                                        td
                                            .d-flex
                                                p.p1 $2.30/k
                                                P.p2 $5.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.15/k
                                                P.p2 $4.00/k
                                        td
                                            .d-flex
                                                p.p1 $2.00/k
                                                P.p2 $4.00/k
                                        td
                                            p.text-center Volume pricing
        include jades/footer.jade
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.goong-navbar__toggle').click(function () {
                $('body').addClass('open-menu-mobile');
            });

            $('.menu-mobile__backdrop').click(function () {
                $('body').removeClass('open-menu-mobile');
            });




