- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header.jade

        main.goong-wrapper
            section.goong-home
                .goong-home__intro
                    .container
                        .intro-box
                            .intro-box__content
                                .intro-box__title
                                    p.p1
                                        span GOONG&nbsp;
                                        | Maps
                                    p.p2
                                        | APIs/Platform
                                p.p3 Looking to replace Google Maps API in your application? Goong is the complete, compatible solution you have been searching for.
                                .intro-box__btn
                                    button.btn.btn-blue.btn-lg(type='button') Get Started
                            .intro-box__map
                                img(src='images/intro-map.png')
                .goong-home__services
                    .container
                        .home-title
                            h2 THE Alternative For Google Maps APIs/ Platform In Vietnam
                        .services-box
                            .services-box__left
                                p Full code compatibility with Google API for easy integration (only address and key change necessary)
                                p.ptitle API featrues:
                                ul
                                    li
                                        | - Geocode/ Revert Geocode
                                        svg(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5.60994 8.89L2.49994 5.78L1.43994 6.84L5.60994 11L14.5599 2.05L13.4999 1L5.60994 8.89Z', fill='#469AF7', stroke='#469AF7')
                                    li
                                        | - Autocomplete
                                        svg(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5.60994 8.89L2.49994 5.78L1.43994 6.84L5.60994 11L14.5599 2.05L13.4999 1L5.60994 8.89Z', fill='#469AF7', stroke='#469AF7')
                                    li
                                        | - Routing
                                        svg(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5.60994 8.89L2.49994 5.78L1.43994 6.84L5.60994 11L14.5599 2.05L13.4999 1L5.60994 8.89Z', fill='#469AF7', stroke='#469AF7')
                                    li
                                        | - Distance Matrix
                                        svg(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5.60994 8.89L2.49994 5.78L1.43994 6.84L5.60994 11L14.5599 2.05L13.4999 1L5.60994 8.89Z', fill='#469AF7', stroke='#469AF7')
                                    li
                                        | - Map View
                                    li
                                        | - Map SDK iOS
                                    li
                                        | - Map SDK Android
                            .services-box__right
                                p
                                    | Rich, high-quality and up-to-date Map-data that you can view for yourself in the live comparison tool Goong vs Google below.&nbsp;
                                    a(href='#') View full screen
                                img(src='images/services.png')
                .goong-home__pricing
                    .container
                        .pricing-box
                            .pricing-box__bg
                                img(src='images/bg-pricing.png')
                            .pricing-box__content
                                .home-title
                                    h2 Pricing Comparison Table
                                p Have you been hit by Google's price hike, which can raise your monthly bill up to 1400%? Take a look at below table to see how using Goong's API can help your company save operation cost with no technical drawbacks.
                                .pricing-box__table
                                    .table-responsive
                                        table.table
                                            thead
                                                tr
                                                    th
                                                        p.p1 Services
                                                    th
                                                        p.p2 GOONG
                                                        p.p3 (100k/day)
                                                    th
                                                        p.p1 Google
                                                        p.p3 (100k/day)
                                                    th
                                                        p.p2 GOONG
                                                        p.p3 (100k/day)
                                                    th
                                                        p.p1 Google
                                                        p.p3 (100k/day)
                                            tbody
                                                tr
                                                    td
                                                        p.p1 Mapview
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 FREE
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 FREE
                                                tr
                                                    td
                                                        p.p1 Autocomplete
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 $125
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 $125
                                                tr
                                                    td
                                                        p.p1 Routing
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 $445
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 $445
                                                tr
                                                    td
                                                        p.p1 Distance matrix
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 Yes
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 Yes
                                                tr
                                                    td
                                                        p.p1 Place detail
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 Limited
                                                    td
                                                        p.p2 FREE
                                                    td
                                                        p.p1 Limited
                                    a.a1(href='#') View Full Pricing Table
                .goong-home__functions(style='background-image: url(images/bg-functions.png);')
                    .container
                        .functions-box
                            .functions-box__content
                                .home-title
                                    h2 Functions
                                p
                                    span Auto suggestions:&nbsp;
                                    | automatically suggest and return the most relevant results.
                                p
                                    span High performance:&nbsp;
                                    | Free API suppo rts 600 requests per minute. Businesses start with 1200 requests per minute and range to 30,000+
                                p
                                    span Filter by type:&nbsp;
                                    | filtering results only include the territory in Vietnam, POIs, points and more.
                                p
                                    span Store results:&nbsp;
                                    | Business customers can save results permanently.
                                p
                                    span Bulk Geocoding:&nbsp;
                                    | Business customers can query up to 50 locations per request.
                .goong-home__data
                    .container
                        .home-title
                            h2 Comprehensive Data
                        .data-box
                            .data-box__item
                                .data-box__icon
                                    svg(width='100', height='100', viewbox='0 0 100 100', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100Z', fill='#ECF5FE')
                                        path(d='M75.8243 74.4802C76.261 74.2653 76.7028 74.0578 77.1488 73.8561L73.9045 61.2285L44.8352 72.5429L48.3623 99.9998H53.735C54.408 97.765 56.6178 91.5742 61.9516 85.2839C65.7902 80.7567 70.4578 77.1218 75.8243 74.4802Z', fill='#469AF7')
                                        path(d='M79.4194 76.1708C73.5434 78.6819 68.4987 82.3448 64.3644 87.2209C59.9884 92.3816 57.866 97.5119 57.0159 100H96.3794C97.7345 100 98.8371 98.9273 98.8371 97.6085V72.3513C91.7362 72.4869 82.908 74.6801 79.4194 76.1708Z', fill='#469AF7')
                                        path(d='M96.3793 41.6526H85.8242L92.3157 69.7501C94.4288 69.4971 96.603 69.348 98.837 69.3071V44.0439C98.837 42.7253 97.7344 41.6526 96.3793 41.6526Z', fill='#469AF7')
                                        path(d='M35.1631 76.2292V97.6086C35.1631 98.927 36.2655 99.9999 37.6208 99.9999H45.2102L41.833 73.7114L35.1631 76.2292Z', fill='#469AF7')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M62.4106 46.1364C62.4106 54.7111 54.5671 61.6131 51.9374 63.6857C49.2961 61.8183 41.5769 55.5532 41.5769 46.1361C41.5769 40.547 46.2498 36 51.9936 36C57.7375 36 62.4106 40.547 62.4106 46.1364ZM51.9938 40.7282C48.9294 40.7282 46.4363 43.1544 46.4363 46.1361C46.4363 49.1181 48.9292 51.544 51.9936 51.544C55.0581 51.544 57.5514 49.1181 57.5514 46.1361C57.5514 43.1542 55.0583 40.7282 51.9938 40.7282Z', fill='#469AF7')
                                        path(d='M54.4233 46.1361C54.4233 44.8326 53.3333 43.772 51.9938 43.772C50.6542 43.772 49.5642 44.8326 49.5642 46.1361C49.5642 47.4396 50.654 48.5004 51.9936 48.5004C53.3333 48.5004 54.4233 47.4398 54.4233 46.1361Z', fill='#469AF7')
                                        path(d='M65.5122 47.0579L69.5524 45.6658L68.9817 41.6526H64.7302C65.2526 43.053 65.5385 44.5628 65.5385 46.1365C65.5385 46.4459 65.5283 46.7528 65.5122 47.0579Z', fill='#469AF7')
                                        path(d='M35.1631 60.6813V73.0298L51.1093 66.8231C50.4349 66.4109 45.7835 63.4516 42.3125 58.2805L35.1631 60.6813Z', fill='#469AF7')
                                        path(d='M71.7983 48.1205L65.0028 50.462C63.2486 57.5761 57.6193 63.0049 54.6897 65.4293L74.4066 57.7552C74.8256 57.5916 75.2973 57.6129 75.6992 57.8131C76.1014 58.0131 76.395 58.3725 76.5044 58.799L80.0654 72.6592C82.9482 71.585 86.0027 70.7657 89.2151 70.2052L82.6187 41.6526H72.1393L72.8254 46.4774C72.9273 47.193 72.4981 47.8793 71.7983 48.1205Z', fill='#469AF7')
                                        path(d='M38.4493 46.1362C38.4493 44.5625 38.7352 43.0528 39.2576 41.6523H37.621C36.2659 41.6523 35.1633 42.725 35.1633 44.0438V57.5153L40.7411 55.5934C39.3816 52.8868 38.4493 49.7241 38.4493 46.1362Z', fill='#469AF7')

                                .data-box__content
                                    .data-box__border
                                    p.data-box__title Địa Điểm Toàn Việt Nam
                                    p.data-box__text Map data encompassing all of Vietnam
                            .data-box__item
                                .data-box__icon
                                    svg(width='100', height='100', viewbox='0 0 100 100', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100Z', fill='#ECF5FE')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M70.075 85.5375C70.075 77.5628 76.5627 71.075 84.5374 71.075C92.512 71.075 98.9999 77.5628 98.9999 85.5375C98.9999 93.512 92.5119 99.9999 84.5374 99.9999C76.5628 99.9999 70.075 93.512 70.075 85.5375ZM74.173 84.9158L82.7267 93.4696L93.9628 82.2336L90.8773 79.1481L82.7267 87.2985L77.2585 81.8303L74.173 84.9158Z', fill='#469AF7')
                                        path(d='M59.2356 53.3669C55.6265 53.3669 52.6902 56.3032 52.6902 59.9124C52.6902 63.5216 55.6265 66.4579 59.2356 66.4579C62.8448 66.4579 65.7811 63.5216 65.7811 59.9124C65.7811 56.3032 62.8448 53.3669 59.2356 53.3669Z', fill='#469AF7')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M83.4713 60.2355C83.4713 62.5155 83.1529 64.7219 82.5613 66.815C73.1059 67.8058 65.7114 75.8241 65.7114 85.5376C65.7114 87.1668 65.9197 88.7485 66.3107 90.2573L59.2356 99.1526L40.2186 75.2431C36.9521 71.1127 35 65.898 35 60.2355C35 46.872 45.8721 36 59.2356 36C72.5991 36 83.4713 46.872 83.4713 60.2355ZM59.2356 49.0032C53.2204 49.0032 48.3265 53.897 48.3265 59.9123C48.3265 65.9276 53.2204 70.8214 59.2356 70.8214C65.2509 70.8214 70.1447 65.9276 70.1447 59.9123C70.1447 53.897 65.2509 49.0032 59.2356 49.0032Z', fill='#469AF7')

                                .data-box__content
                                    .data-box__border
                                    p.data-box__title Kết Quả Cấp Địa Chỉ
                                    p.data-box__text Exact addresses of all 54 cities/provinces
                            .data-box__item
                                .data-box__icon
                                    svg(width='100', height='100', viewbox='0 0 100 100', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100Z', fill='#ECF5FE')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M39.7272 36H82.2598C84.8314 36 86.9181 38.0607 86.9182 40.603V78.3594C86.9182 80.9016 84.8315 82.9621 82.26 82.9621H73.1183L63.1034 98.8302C62.6496 99.5493 61.8524 99.9871 60.9937 99.9871C60.1351 99.9871 59.3373 99.5493 58.8839 98.8302L48.8687 82.9621H39.7272C37.1554 82.9621 35.0688 80.9016 35.0688 78.3594V40.603C35.0688 38.0607 37.1554 36 39.7272 36ZM76.0339 55.5318C76.477 55.5318 76.8716 55.2524 77.0129 54.8376C77.1542 54.4218 77.0129 53.964 76.6629 53.6983L61.8821 42.5384C61.3567 42.1443 60.631 42.1443 60.1056 42.5384L55.9977 45.6424V45.5486C55.9977 45.1378 55.6581 44.8033 55.2425 44.8033H51.945C51.5272 44.8033 51.1896 45.1378 51.1896 45.5486V49.2707L45.3244 53.6984C44.9744 53.9642 44.8327 54.4218 44.9744 54.8376C45.1157 55.2524 45.5103 55.5318 45.9531 55.5318H48.5525V74.0953C48.5525 74.6603 49.0145 75.1178 49.5841 75.1178H72.4032C72.9728 75.1178 73.4348 74.6603 73.4348 74.0953V55.5318H76.0339Z', fill='#469AF7')
                                        rect(x='57', y='62', width='8', height='11', rx='1', fill='#469AF7')

                                .data-box__content
                                    .data-box__border
                                    p.data-box__title POIs
                                    p.data-box__text Hỗ trợ tên doanh nghiệp, mốc ranh giới và các điểm POIs.
                            .data-box__item
                                .data-box__icon
                                    svg(width='100', height='100', viewbox='0 0 100 100', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100Z', fill='#ECF5FE')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M83.0639 55.5464H50.8455C49.8149 55.5464 48.9744 56.3629 48.9744 57.3746V63.5988C48.9744 64.6105 49.8149 65.427 50.8455 65.427H83.0639C84.0925 65.427 84.9325 64.6105 84.9325 63.5988V57.3746C84.9325 56.3629 84.0912 55.5464 83.0639 55.5464ZM52.3439 59.8816C51.7072 59.8816 51.1913 59.3773 51.1913 58.7529C51.1913 58.1303 51.7072 57.6248 52.3439 57.6248C52.982 57.6248 53.4959 58.1303 53.4959 58.7529C53.4959 59.378 52.982 59.8816 52.3439 59.8816ZM71.8791 63.1359H80.0183H80.019V60.4873H71.8791V63.1359Z', fill='#469AF7')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M83.0639 66.4324H50.8455C49.8149 66.4324 48.9744 67.2502 48.9744 68.2619V74.4854C48.9744 75.4958 49.8149 76.3142 50.8455 76.3142H83.0639C84.0925 76.3142 84.9325 75.4958 84.9325 74.4854V68.2619C84.9325 67.2502 84.0912 66.4324 83.0639 66.4324ZM52.3439 70.7689C51.7072 70.7689 51.1913 70.2666 51.1913 69.6401C51.1913 69.0182 51.7072 68.5101 52.3439 68.5101C52.982 68.5101 53.4959 69.0176 53.4959 69.6401C53.4959 70.2659 52.982 70.7689 52.3439 70.7689ZM71.8791 74.0225H80.0183H80.019V71.3733H71.8791V74.0225Z', fill='#469AF7')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M83.0639 77.3188H50.8455C49.8149 77.3188 48.9744 78.1366 48.9744 79.1477V85.3712C48.9744 86.3823 49.8149 87.2007 50.8455 87.2007H83.0639C84.0925 87.2007 84.9325 86.3823 84.9325 85.3712V79.1477C84.9325 78.1366 84.0912 77.3188 83.0639 77.3188ZM52.3439 81.654C51.7072 81.654 51.1913 81.153 51.1913 80.5253C51.1913 79.9021 51.7072 79.3979 52.3439 79.3979C52.982 79.3979 53.4959 79.9015 53.4959 80.5253C53.4959 81.153 52.982 81.654 52.3439 81.654ZM71.8791 84.9077H80.0183H80.019V82.2585H71.8791V84.9077Z', fill='#469AF7')
                                        path(d='M72.5184 93.1532H69.0849V88.2588H64.8252V93.1532H61.3877V94.4429H49.3689V98.6184H61.3877V99.91H72.5184V98.6184H84.5366V94.4429H72.5184V93.1532Z', fill='#469AF7')
                                        path(d='M85.9712 45.5069C85.51 45.4688 85.0864 45.238 84.8119 44.874C82.2288 41.4562 78.0873 39.348 73.6799 39.348C73.4041 39.348 73.1276 39.3564 72.8512 39.3726C72.4685 39.3952 72.0924 39.2834 71.7869 39.0571C69.1035 37.0744 65.8521 36 62.4489 36C56.351 36 50.9388 39.4612 48.4091 44.7021C48.1769 45.1824 47.7137 45.516 47.1766 45.5897C40.456 46.516 35.2673 52.1868 35.2673 59.0225C35.2673 65.5396 39.9829 70.9944 46.247 72.2919V68.2618C46.247 67.7595 46.342 67.2805 46.4997 66.8299C43.1499 65.7509 40.7218 62.6615 40.7218 59.0232C40.7218 54.4908 44.4853 50.8034 49.1118 50.8034C49.3454 50.8034 49.575 50.8215 49.8039 50.8396C51.1374 50.9411 52.3435 50.0936 52.6687 48.8265C53.7963 44.4215 57.8191 41.345 62.4482 41.345C65.094 41.345 67.5979 42.3457 69.4981 44.1636C70.1473 44.7842 71.0704 45.0486 71.9585 44.8669C72.5252 44.7512 73.1039 44.6924 73.6799 44.6924C76.9188 44.6924 79.8113 46.4766 81.2279 49.3482C81.7261 50.358 82.8147 50.9592 83.9542 50.8441C84.2379 50.8163 84.5209 50.8027 84.7954 50.8027C89.4219 50.8027 93.186 54.4902 93.186 59.0225C93.186 62.6615 90.7567 65.7503 87.4075 66.8293C87.5646 67.2805 87.6596 67.7589 87.6596 68.2612V72.2906C93.923 70.9938 98.6412 65.5396 98.6412 59.0219C98.6405 51.9308 93.056 46.0926 85.9712 45.5069Z', fill='#469AF7')

                                .data-box__content
                                    .data-box__border
                                    p.data-box__title Dữ Liệu Mở
                                    p.data-box__text Khách hàng sẽ nhận được dữ liệu mới trong ngày, không phải đợi lâu.
                .goong-home__built
                    .container
                        .built-box
                            .built-box__bg
                                img(src='images/bg-built.png')
                            .built-box__content
                                .home-title
                                    h2 Built For Developers
                                p Our API is fully compatible with Google Maps API, ensuring its seamless integration into your applications.
                                p Only minimal changes to your code required.
                .goong-home__end
                    .container
                        .end-box
                            .end-box__text
                                p
                                    | Fed up with high prices? Not being able to use Google's API in Vietnam?
                                    br
                                    | Switch to an adequate, reasonably priced replacement solution.
                            .end-box__btn
                                button.btn.btn-blue.btn-lg(type='button') Get Started

        include jades/footer.jade
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $(".form-sign__btn .btn").click(function () {
                var tab_id = $(this).attr('data-id');
                $('.form-sign').addClass('d-none');
                $("#" + tab_id).removeClass('d-none');
            });



