.goong-docs{
  background-color: #fff;
  padding-bottom: 80px;
  &__intro{
    position: relative;
  }
  &__guides{
    @include breakpoint(md){
      margin-top: -110px;
      position: relative;
    }
  }
}

.docs-box{
  @include breakpoint(sm){
    display: flex;
    justify-content: flex-start;
    margin: 0 -15px;
  }
  &__bg{
    @include breakpoint(xs){
      display: none;
    }
    @include breakpoint(sm){
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      width: 50%;
      padding: 0 0 0 15px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__content{
    padding: 40px 0;
    @include breakpoint(sm){
      width: 50%;
      padding: 40px 15px;
    }
    @include breakpoint(md){
      padding: 80px 15px 110px;
    }
  }
  .home-title{
    @include breakpoint(sm){
      text-align: left;
    }
  }
}

.guides-box{
  @include breakpoint(sm){
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__col{
    @include breakpoint(sm){
      width: 50%;
      padding: 0 15px;
    }
    @include breakpoint(md){
      width: 25%;
    }
  }
  &__item{
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.05);
    border-radius: 0 40px 40px 40px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 45px;
    @include breakpoint(md){
      margin: 0;
    }
  }
  &__title{
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    h5{
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      padding: 0 0 15px 10px;
    }
  }
  &__btn{
    margin: 0 auto -30px;
    .btn{
      width: 100%;
      padding: 15px 20px;
    }
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 0 20px 15px;
  }
}