.goong-statis{
  padding: 30px 0;
  &__body{
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    padding: 15px;
    @include breakpoint(sm){
      padding: 35px 20px;
    }
  }
  &__line{
    border-bottom: 1px solid #eee;
    margin: 15px 0;
  }
  &__btn{
    font-size: 14px;
    line-height: 16px;
    color: #469AF7;
    background:rgba(244, 246, 251, 0.8);
    display: block;
    padding: 0 10px 0 0;
    margin-bottom: -5px;
    &.expand{
      svg{
        transform: rotate(90deg);
      }
    }
    span{
      padding-left: 10px;
    }
    svg,span{
      vertical-align: middle;
    }
  }
  &__item{
    background:rgba(244, 246, 251, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
  }
  &__list{
    padding: 30px 0 30px 30px;
    .goong-chart{
      padding-bottom: 50px;
      &:last-child{
        padding: 0;
      }
    }
  }
}
.goong-chart{

  @include breakpoint(sm){
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1F3349;
    margin-bottom: 25px;
  }
  &__text{
    @include breakpoint(sm){
      width: 150px;
    }
    p{
      &.p1{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #566571;
      }
      &.medium{
        font-size: 24px;
        line-height: 24px;
        color: #1F3349;
      }
      &.p2{
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        color: #1F3349;
      }
    }

  }
  &__content{
    @include breakpoint(sm){
      width:calc(100% - 150px);
      padding-left: 30px;
    }
  }
}