footer.goong-footer
    .container
        .goong-navbar
            .goong-navbar__logo
                h1
                    a(href='#')
                        img(src='images/goong-logo-2x.png')
                p © 2019 Goong Inc, All right Reseverd
            ul.goong-navbar__nav
                li.goong-navbar__item.active
                    a.goong-navbar__link(href='#') Home

                li.goong-navbar__item
                    a.goong-navbar__link(href='#') Mobile App

                li.goong-navbar__item
                    a.goong-navbar__link(href='#') Documents

                li.goong-navbar__item
                    a.goong-navbar__link(href='#') Live Map

                li.goong-navbar__item
                    a.goong-navbar__link(href='#') Privacy And Terms
