header.goong-header
    .container
        .goong-header__navbar
            .goong-navbar
                .goong-navbar__logo
                    h1
                        a(href='#')
                            img(src='images/goong-logo.svg')

                button.goong-navbar__toggle(type='button' data-toggle='collapse', data-target='#collapsibleNavbar')
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 53 53', xml:space='preserve', width='30px', height='30px')
                        g
                            path(d='M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z', fill='#1F3349')
                            | &#x9;&#x9;
                            path(d='M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z', fill='#1F3349')
                            | &#x9;&#x9;
                            path(d='M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z', fill='#1F3349')

                ul.goong-navbar__nav.collapse.navbar-collapse#collapsibleNavbar
                    li.goong-navbar__item.active
                        a.goong-navbar__link(href='#') Services

                    li.goong-navbar__item
                        a.goong-navbar__link(href='#') Mobile Apps

                    li.goong-navbar__item
                        a.goong-navbar__link(href='#') Live Map

                    li.goong-navbar__item
                        a.goong-navbar__link(href='#') Documents

                    li.goong-navbar__item
                        a.goong-navbar__link(href='#') Sign In
