header.goong-header
    .container
        .goong-header__navbar
            .goong-navbar
                .goong-navbar__logo
                    h1
                        a(href='index.html')
                            img(src='images/goong-logo-2x.png')

                button.goong-navbar__toggle(type='button' data-toggle='collapse', data-target='#collapsibleNavbar')
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 53 53', xml:space='preserve', width='30px', height='30px')
                        g
                            path(d='M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z', fill='#1F3349')
                            | &#x9;&#x9;
                            path(d='M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z', fill='#1F3349')
                            | &#x9;&#x9;
                            path(d='M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z', fill='#1F3349')

                ul.goong-navbar__nav.collapse.navbar-collapse#collapsibleNavbar
                    li.goong-navbar__item.active
                        a.goong-navbar__link(href='#') Services

                    li.goong-navbar__item
                        a.goong-navbar__link(href='#') Mobile Apps

                    li.goong-navbar__item
                        a.goong-navbar__link(href='#') Live Map

                    li.goong-navbar__item
                        a.goong-navbar__link(href='documents.html') Documents

                    li.goong-navbar__item
                        button.goong-navbar__link(type='button' data-toggle="modal" data-target="#formLogin") Sign In
#formLogin.modal.fade
    .modal-dialog.modal-login
        .modal-content
            .modal-body
                #box-1.form-sign
                    .form-sign__img
                        img(src='images/map-login.png')
                    .form-sign__content
                        h2.form-sign__title Sign In
                        .form-sign__form
                            .form-group(data-tip='Yêu cầu nhập địa chỉ email.')
                                input.form-control(type='text' placeholder='Email')
                            .form-group
                                input.form-control(type='text' placeholder='Password')
                            .form-group
                                .form-sign__line
                                    .checkbox
                                        input(type='checkbox' id='star1')
                                        label(for='star1') Remember Sign In
                                    button.form-sign__pass(type='button') Forget Password?
                            .form-group
                                .form-sign__btn
                                    .d-block
                                        button.btn.btn-outline(type='button' data-id='box-2') Sign Up
                                    .d-block
                                        button.btn.btn-blue(type='button' data-id='box-1') Sign In
                        .form-sign__border
                            span Or
                        .form-sign__social
                            button.btn.btn-blue2(type='button') Sign In with Facebook
                            button.btn.btn-red(type='button') Sign In with Google
                #box-2.form-sign.d-none
                    .form-sign__img
                        img(src='images/map-login.png')
                    .form-sign__content
                        h2.form-sign__title Sign Up
                        .form-sign__form
                            .form-group(data-tip='Yêu cầu nhập địa chỉ email.')
                                input.form-control(type='text' placeholder='Email')
                            .form-group
                                input.form-control(type='text' placeholder='Password')
                            .form-group
                                .form-sign__line
                                    p The password is displayed to help you check more accurately
                            .form-group
                                .form-sign__btn
                                    .d-block
                                        button.btn.btn-outline(type='button' data-id='box-2') Sign Up
                                    .d-block
                                        button.btn.btn-blue(type='button' data-id='box-1') Sign In
                        .form-sign__border
                            span Or
                        .form-sign__social
                            button.btn.btn-blue2(type='button') Sign In with Facebook
                            button.btn.btn-red(type='button') Sign In with Google
