.menu-mobile
    .menu-mobile__main
        .menu-mobile__header
            button.menu-mobile__login(type='button')
                img(src='images/avatar.png')
                span Nguyen Tuan
        .menu-mobile__content
            ul.menu-mobile__list
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Item 1
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Item 2
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Item 3
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Item 4
            ul.menu-mobile__list
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Services
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Mobile Apps
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Live Map
                li.menu-mobile__item
                    a.menu-mobile__link
                        | Documents
    .menu-mobile__backdrop