.goong-footer{
  padding: 20px 0;
  background-color: #fff;
  .goong-navbar{
    @include breakpoint(max-md){
      justify-content: center;
    }
    &__logo{
      @include breakpoint(max-md){
        width: 100%;
      }
      @include breakpoint(lg){
        display: flex;
        align-items: center;
      }
      p{
        font-size: 16px;
        line-height: 19px;
        color: rgba(86, 101, 113, 0.5);
        @include breakpoint(max-md){
          text-align: center;
          margin-top: 10px;
        }
        @include breakpoint(lg){
          padding-left: 25px;
          margin: 0;
        }
      }
      h1{
        a{
          @include breakpoint(max-md){
            justify-content: center;
          }
        }
      }
    }
    &__nav{
      @include breakpoint(xs){
        display: none;
      }
    }
    &__link{
      color: $text-color;
    }
  }
}