.goong-header{
  padding: 15px 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &__navbar{}
}
.goong-navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
  &__logo{
    h1{
      a{
        display: block;
      }
    }
    img{
      width: 127px;
    }
  }
  &__toggle{
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm){
      display: none;
    }
    &:focus{
      outline: none;
    }
  }
  &__nav{
    @include breakpoint(xs){
      display: none;
    }
    @include breakpoint(sm){
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__item{
    &.active{
      .goong-navbar__link{
        color: #1F3349;
        font-weight: $medium;
      }
    }
  }
  &__link{
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: rgba(31, 51, 73, 0.5);
    transition: all .3s;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    &:hover{
      text-decoration: none;
      color: $text-color;
    }
    &:focus{
      outline: none;
    }
  }
  &__account{
    padding-left: 50px;
    @include breakpoint(md){
      padding-left: 100px;
    }
    .goong-navbar__link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 15px;
      }
    }
    .dropdown-menu{
      width: 120px;
      left: auto;
      right: 0;
    }
    .dropdown-link{
      font-size: 14px;
      line-height: 18px;
      text-align: left;
      color: #566571;
      svg,span{
        vertical-align: middle;
      }
      span{
        padding-left: 15px;
      }
    }
  }
}