.menu-mobile{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  visibility: hidden;
  &__main{
    width: calc(100% - 50px);
    z-index: 1;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: .4s ease-in-out;
    transform: translateX(-100%);
    visibility: hidden;
  }
  &__header{
    background-image:linear-gradient(348.64deg,#3197F8 1.17%,#51C5FE 99.21%);
  }
  &__login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 15px;
    img{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    span{
      flex: 1 1 auto ;
      padding-left: 10px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
    }
    svg{
      transform: rotate(-90deg);
    }
  }
  &__content{
    height: calc(100% - 62px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 15px;
  }
  &__list{
    border-bottom: 5px solid #f2f2f2;
    &:last-child{
      border-bottom: none;
    }
  }
  &__item{
    border-bottom: 1px solid #f2f2f2;
  }
  &__link{
    padding: 10px 15px;
    width: 100%;
    display: block;
    font-size: 14px;
    color: $text-color;
  }
  &__backdrop{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .4s ease-in-out;
    background-color:rgba(23, 38, 55, 0.9);
    visibility: hidden;
    opacity: 0;
  }
}
.open-menu-mobile{
  overflow: hidden;
  .menu-mobile{
    visibility: visible;
    &__main{
      transform: translateX(0);
      visibility: visible;
    }
    &__backdrop{
      visibility: visible;
      opacity: 1;
    }
  }
}