.btn{
  position: relative;
  font-size: 16px;
  font-weight: $medium;
  line-height: 19px;
  padding:13px 20px;
  border: none;
  border-radius:10px;
  overflow: hidden;
  &:before{
    @include breakpoint(md){
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.35);
      transition: transform 0.3s ease;
      transform: translateY(-100%);
    }
  }
  &:focus{
    box-shadow: none;
  }
  &:hover{
    @include breakpoint(md){
      &:before{
        transform: translateY(100%);
      }
    }
  }
  &.btn-lg{
    @include breakpoint(md){
      font-size: 24px;
      line-height: 28px;
      padding: 22px;
    }
  }
}
.btn-blue{
  background: linear-gradient(348.64deg, #3197F8 1.17%, #51C5FE 99.21%);
  box-shadow: 0 22px 34px rgba(47, 130, 218, 0.197225);
  color: $white-1!important;
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active{
    background: linear-gradient(348.64deg, #3197F8 1.17%, #51C5FE 99.21%);
  }
}
.btn-disable{
  pointer-events:none;
  opacity: .5;
}
.btn-round{
  border-radius: 60px;
}
.btn-outline{
  background-color: #fff;
  border:1px solid $main-color;
  color: $main-color;
}
