.dropdown {
  position: relative;
}
.dropdown-toggle{
  padding: 0 15px;
  span{
    padding-right: 5px;
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index:10;
  width: 100%;
  background-color:$white-1;
  border-radius: 6px;
  padding: 5px 0;
  transition: .3s;
  display: none;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}
.dropdown-item{
  padding: 0 15px;
  &:last-child{
    .dropdown-link{
      border-bottom: none;
    }
  }
}
.dropdown-link{
  display: block;
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #efefef;


  color: #566571;
}
.dropdown-open {
  .dropdown-toggle{
    > svg{
      transform: rotate(180deg);
    }
  }
  .dropdown-menu {
    display: block;
  }
}


