
.white-1{
  color: $white-1!important;
}
.black-1{
  color: $black-1!important;
}
.orange{
  color: $orange!important;
}
.semibold {font-weight: 600!important;}
.bold {font-weight: 700!important;}

.text{
  font-size: 18px;
  line-height: 30px;
  color: $text-color;
}