.home-title{
  margin-bottom: 30px;
  text-align: center;
  h2{
    font-size: 28px;
    font-weight: $medium;
    color: $text-color;
    @include breakpoint(md){
      font-size: 38px;
      line-height: 45px;
    }
  }
}